<div class="mx-auto mb-3 col-3 bg-light">
  <p class="text-center font-weight-bold text-black">Ajouter un nouveau patient</p>
  <div class="input-group bg-light card p-2">
      <form [formGroup]="patientform" (ngSubmit)="onFormSubmit()" >
        <p class="card-text mt-2 mb-1">Nom:              </p> <input class="col-lg-12 " required formControlName="firstname"  placeholder="Nom">
        <p class="card-text mt-2 mb-1">Prenom:           </p> <input class="col-lg-12 " required formControlName="lastname"  placeholder="Prenom">
        <p class="card-text mt-2 mb-1">Sex:              </p> <input class="col-lg-12 " required formControlName="sex"  placeholder="Sex">
        <p class="card-text mt-2 mb-1">Date de naissance: </p> <input class="col-lg-12 " required formControlName="dob"  placeholder="Date de naissance">
        <p class="card-text mt-2 mb-1">Adresse:          </p> <input class="col-lg-12 " formControlName="address"  placeholder="Adresse">
        <p class="card-text mt-2 mb-1">Téléphone:        </p> <input class="col-lg-12 " formControlName="phone"  placeholder="Téléphone">
        <button type="submit" class="col-12 mx-auto btn btn-primary mt-3">Valider</button>
      </form>
  </div>
</div>

