<p class=" text-center  m-5 h1 text-primary ">Fiche Patient</p>
  <div *ngIf="patient" class="mx-auto mb-3 col-10">
    <div  class="card mx-auto col-4 mt-2 p-3">
      <h2 class="card-title text-capitalize text-primary ">{{patient.firstname}} {{patient.lastname}} </h2>
      <p class="card-text font-weight-bold m-0 ml-2">Date de naissance : {{patient.dob}}</p>
      <p class="card-text font-weight-bold m-0 ml-2">Sex : {{patient.sex}}</p>
      <p class="card-text font-weight-bold m-0 ml-2">Numéro de téléphone : {{patient.phone}}</p>
      <p class="card-text font-weight-bold m-0 ml-2">Adresse : {{patient.address}}</p>
      <button routerLink="/patients/add/{{patient.id}}" class="ml-5 btn btn-primary mb-2 mt-3">Modifier la fiche</button>
      <button routerLink="/note/add/{{patient.id}}" class="ml-5 btn btn-secondary mb-2">Saisir une nouvelle note</button>
      <button routerLink="/patients/note/{{patient.id}}" class="ml-5 btn btn-secondary mb-2">Voir l'historique</button>
      <button (click)="deletePatient()" class="ml-5 btn btn-danger  mb-2" >Supprimer la fiche</button>
    </div>
  </div>


